@use "../../styles/globals.scss";

.wh-details {
  //   @include globals.mixins-display-flex($gap: 2rem);
  background-color: globals.$white;
  border-radius: 3px;

  // Title Card

  &__title-wrapper {
    border-bottom: 1px solid globals.$cloud;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  &__back-title-wrapper {
    display: flex;
    align-items: center;
  }
  &__title {
    padding: 0rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0px;
    }
  }
  &__back-arrow {
    padding: 0.25rem;
    margin-right: 0.5rem;
  }

  // Meta Information

  &__meta-info {
    border-bottom: 1px solid globals.$cloud;
  }

  &__meta-info-wrapper {
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__address {
    flex-basis: 100%;
    width: 100%;
    padding-bottom: 2rem;
  }

  &__contact-name {
    flex: 1;
  }

  &__contact-info {
    flex: 1;
  }

  // Labels
  &__meta-label {
    margin: 0px;
    margin-bottom: 4px;
    color: globals.$slate;
    font-weight: 600;
    font-size: 0.6875rem;
    line-height: 1rem;
  }

  // Actual Meta Content
  &__meta-content {
    margin: 0px;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: globals.$instock-black;
  }

  // Table
  &__table {
  }

  &__column-labels {
    // display none on mobile
  }

  &__column-labels-wrapper {
    display: none;
  }

  &__mobile-label {
    // display none on tablet and bigger
    color: globals.$slate;
    font-weight: 600;
    font-size: 0.6875rem;
    line-height: 1rem;
  }

  //  Row Items

  //   Row Item Wrappers
  &__item-row-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid globals.$cloud;
  }

  &__item-wrapper {
    width: 50%;
    margin-bottom: 1.25rem;
    order: 1;
  }

  &__category-wrapper {
    width: 50%;
    // margin-bottom: 1.25rem;
    order: 3;
  }

  &__status-wrapper {
    width: 50%;
    order: 2;
  }

  &__qty-wrapper {
    width: 50%;
    order: 4;
  }

  &__actions-wrapper {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    order: 5;
  }

  &-item-btn {
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.25rem;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: globals.$instock-indigo;
  }
  &__item-btn-icon {
    margin-left: 0.25rem;
  }

  //   Information and Labels
  &__mobile-label {
  }
  &__information {
    margin: 0px;
    margin-top: 0.25rem;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: globals.$instock-black;
  }
}

// ** Tablet ** //

@include globals.tablet {
  .wh-details {
    &__column-labels-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1.5rem;
      flex-wrap: wrap;
    }
  }
}
