@use "../../../styles//partials//colors.scss" as color;
@use "../../../styles/partials/fonts.scss" as font;
@use "../../../styles/partials/breakpoints.scss" as bp;

.delete-btn {
  background-color: color.$red;
  color: color.$white;
  font-size: 0.9rem;
  border-radius: 50px;
  text-align: center;
  padding: 0.45rem 0;
  width: 4.5rem;
  transition: all 0.15s ease-in-out;

  @include bp.mobile {
    width: 48%;
  }

  &:hover {
    background-color: color.$instock-black;
  }
}
